body {
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.9fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
}

.header {
    grid-area: header;
    margin-bottom: 0px;
    padding-bottom: 165px;
    background-image: url("headerbg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 400px;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 100px;
    padding-top: 200px;
}

.hairlogo {
    display: flex;
    padding-right: 60px;
    height: 200px;
    width: 200px;
}

.title1 {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100px;
    font-family: 'UnifrakturCook', cursive;
    font-size: 100px;
}

.title2 {
    display: flex;
    padding-top: 90px;
    font-family: 'MuseoModerno', cursive;
    font-size: 60px;
    font-weight: bold;
}

.menu {
    padding-top: 0%;
    margin-top: 0%;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* burger menu */
#main {
    display: none;
    background-color: black;
    color: white;
    transition: margin-left .5s;
    padding: 20px;
}

/* horizontal menu */
#horizontal {
    display: flex;
}

ul {
    list-style: none;
    margin-top: 0%;
    overflow: hidden;
    background-color: rgb(3, 3, 3);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: black;
    background-color: white;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    grid-area: content;
    border-style: solid;
    background-image: url("tablebg.jpg");
    background-attachment: fixed;
    opacity: 0.9;
    display: flex;
    /* centers */
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        "news1 news2 news3"
        ". . .";
}

.news1 {
    background-color: rgb(223, 133, 106);
    display: flex;
    flex-direction: column;
    margin: 40px;
    opacity: .95;
}

.news2 {
    background-color: rgb(232, 174, 199);
    display: flex;
    flex-direction: column;
    margin: 40px;
    opacity: .95;
}

.news3 {
    background-color: rgb(133, 55, 139);
    display: flex;
    flex-direction: column;
    margin: 40px;
    opacity: .95;
}

.t1 {
    display: flex;
    font-family: 'UnifrakturCook', cursive;
    font-size: 45px;
    text-align: center;
    justify-content: center;
}

.t2 {
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    display: flex;
    justify-content: center;
}

.tmain {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.newspic {
    display: flex;
    justify-content: center;
}

.newscontent {
    font-family: sans-serif;
    font-size: 15px;
    margin: 50px;
}

.footer {
    grid-area: footer;
    display: flex;
}

.copy {
    display: flex;
    justify-items: center;
    padding-left: 20px;
    padding-right: 285px;
    padding-top: 50px;
}

.icons {
    display: flex;
    background-color: white;
    padding-top: 30px;
    padding-left: 395px;
    list-style: none;
    margin-top: 0%;
    overflow: hidden;
}

/* laptop */
@media (max-width: 992px) {
    .header {
        display: block;
    }

    .hairlogo {
        margin-left: 260px;
    }

    .name {
        display: flexbox;
        text-align: center;
    }

    .title1 {
        display: flex;
        flex-grow: initial;
        font-size: 70px;
    }

    .title2 {
        display: flex;
        flex-direction: column;
        font-size: 50px;
        padding-left: 50px;
        margin-top: 160px;
    }

    .content {
        display: flex;
        flex-direction: column;

    }

    .news1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
    }

    .news2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
    }

    .news3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
    }

    .footer {
        display: inline-block;
        justify-content: center;
        padding-top: 30px;
    }

    .copy {
        display: inline;
        justify-content: center;
    }

    .icons {
        display: inline;
    }
}

/* tablet */
@media (max-width: 768px) {
    .header {
        display: block;
    }

    #horizontal {
        display: flexbox;
        margin-top: 100px;
        padding: 0px;
    }

    #main {
        display: none;
    }

    .hairlogo {
        display: none;
    }

    .name {
        display: flex;
        margin-left: 150px;
    }

    .title1 {
        display: flex;
        padding: 0px;
    }

    .title2 {
        display: flex;
        padding: 0px;
    }

    .hidden {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 250px;
        font-family: 'MuseoModerno', cursive;
        font-weight: 900;
        font-size: 60px;
        color: black;
    }

    .content {
        display: flex;
        padding: 0px;
    }

    .news1 {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

    .news2 {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

    .news3 {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

    .footer {
        display: inline-block;
        justify-items: center;
        padding-top: 30px;
        padding-left: 70px;
        padding-right: 30px;
    }

    .copy {
        display: inline;
        justify-content: center;
    }

    .icons {
        display: inline;
    }
}

/* phone */
@media (max-width: 576px) {
    .header {
        display: block;
    }

    #horizontal {
        display: none;
    }

    #main {
        display: flex;
    }

    .hairlogo {
        display: none;
    }

    .name {
        display: flex;
        margin-right: 40px;
        margin-top: 100px;
    }

    .title1 {
        font-size: 55px;
        padding: 0px;
    }

    .title2 {
        font-size: 40px;
        padding: 0px;
        margin-top: 250px;
    }

    .content {
        display: flex;
        flex-direction: column;

    }

    .footer {
        display: inline-block;
        justify-items: center;
        padding-top: 20px;
        padding-left: 70px;
        padding-right: 30px;
    }

    .copy {
        display: inline;
        justify-content: center;
    }

    .icons {
        display: inline;
    }
}